body {
  margin: 0px;
  overflow: hidden;
  background: #fff;
}
video{
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
}
#webglviewer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
#menu {
  position: fixed;
  width: 100%;
  height:50px;
  background: hotpink;
  z-index: 9999;
}

ul {
  margin: 0;
}

ul li {
  float: left;
  display: block;
  height: 50px;
  font-size: 1.5em;
  line-height: 2em;
  margin-right:20px;
}

.opacity {
  opacity: 0.2;
}

.hide {
  display: none;
}

#leftArrow {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 50%;
  z-index: 999;
  font-size: 80vh;
  text-align: center;
  color: lime;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#rightArrow {
  position: absolute;
  top:0;
  right:0;
  height: 100%;
  width: 50%;
  z-index: 999;
  font-size: 80vh;
  text-align: center;
  color: lime;
}